@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-weight: 600; */
    margin: 0;
    padding: 0;
}

p {
    color: white;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #292827;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header>h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 125px;
    color: #ffffff;
}

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.splash-content {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 150px;
    color: #292827;
    animation: circle 5s linear;
}

@keyframes circle {
    0% {
        transform: scale(0.8);

    }

    100% {
        transform: scale(1.5);
    }
}

button {
    padding: 0.2em 0.6em;
    margin: 0.2em;
}

canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 300px;
}