*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.piecharts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
}
.barcharts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 700px;
}
.linecharts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 800px;
}